<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/post.css">
    <title>Document</title>
</head>
<body>
    <div class="post-img-container">
        <div class="post-title">Welcome to Candour's first post</div>
        <div class="blur-img"><img src="{{ page.hero }}"></div>
        <img src="{{ page.hero }}">
    </div>
    <div class="main-content">
        {{ content }}
    </div>
    <!-- {{ content }} -->
    <div class="nav-container">
        {% include navbar.html %}
    </div>
</body>
</html>